{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

        <!--Category-->
        <div class="container-fluid mt-3 mx-auto">
            <div class="row mx-auto">
                <div class="col-lg-3">
                    <ul class="list-group">
                        <a href="/" class="list-group-item list-group-item-action">All Products</a>

                        {% for category in categories %}
                        <a class="list-group-item list-group-item-action"
                           href="/?category={{category.id}}">{{category.name}}</a>
                        {% endfor %}
                    </ul>
                </div>
                <!--Category-->
                <!--body-->
                <div class="col-lg-9 mx-auto" id="products">
                    <div class="row mx-auto">
                        {% for product in products %}
                        <div class="card mx-auto" style="width: 18rem;">
                            <img alt="Card image cap" class="card-img-top" src="{{product.image.url}}">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text"><b>{{product.price}}</b></p>
                                <a class="btn btn-primary" href="#">Add to Cart</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
